label {
    display: inline-block;
    margin: .5em;
    color: #607D8B;
    font-weight: bold;
}

h3 {
    display: inline-block;
    width: 3em;
    margin: .5em;
    color: #607D8B;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #6CA0DC;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.container {
    background-color: #ccc;
    width: 50%;
}

mat-slider {
    width: 300px;
}

.mat-radio-button~.mat-radio-button {
    padding-right: 16px;
}

.example-radio-group {
    display: inline-flex;
    flex-direction: column;
}

.example-radio-button {
    margin: 5px;
}

.example-selected-value {
    margin: 15px 0;
}

.example-h2 {
    margin: 10px;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.example-margin {
    margin: 10px;
}

.mat-slider-horizontal {
    width: 300px;
}

.mat-slider-vertical {
    height: 300px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.form-group {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.body {
    display: inline-block;
    width: 3em;
    margin: .5em;
    color: #607D8B;
    font-weight: bold;
}

.form-group {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.form-control {
    width: 100%;
}

.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42A948;
    /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
    /* red */
}

.ng-pristine {
    border-left: 1px solid #ccc !important;
}

input.ng-pristine.ng-invalid {
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}