<div class="container">
    <form [formGroup]="productForm" (ngSubmit)="submitForm()">

        <div class="form-group">
            <mat-radio-group formControlName="customerType">
                <label>Customer type</label>
                <label></label>
                <mat-radio-button value="Private">Private</mat-radio-button>
                <mat-radio-button value="Corporate">Corporate</mat-radio-button>
            </mat-radio-group>
        </div>


        <div class="form-group">
            <mat-form-field class="form-control">
                <mat-select placeholder="Asset Type" formControlName="assetType" required>
                    <mat-option *ngFor="let assetType of assetTypes" [value]="assetType.value">
                        {{ assetType.viewValue }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="!assetType">must be selected</mat-error>
                

            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field class="form-control">
                <mat-select placeholder="Brand" formControlName="productType" required>
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let brand of productTypes" [value]="brand">{{brand}}</mat-option>
                </mat-select>
                <mat-error *ngIf="!productType">must be selected</mat-error>
            </mat-form-field>
        </div>

        <!-- <div class="form-group">
            <label>Models (total:{{(allProducts|productFilter:productForm.get('productType').value).length}})</label>
            <select formControlName="product" class="form-control" required>
        <option>Pick a model...</option>
        <option *ngFor="let p of allProducts|productFilter:productForm.get('productType').value">{{p.name}}</option>
      </select>
     
            <span class="help-block"></span>
        </div> -->

        <div class="form-group">
            <mat-form-field class="form-control">
                <mat-select placeholder="Model" formControlName="product" required>
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let p of allProducts
                    |productFilter:productForm.get('productType').value
                    " [value]="p.name">{{p.name}}</mat-option>
                   <!-- <mat-option *ngFor="let brand of productTypes" [value]="brand">{{brand}}</mat-option> -->

                </mat-select>
                <mat-error *ngIf="!product">must be selected</mat-error>
                 <span class="help-block"></span>
                <!-- <mat-hint>(total models:{{(allProducts|productFilter:productForm.get('productType').value).length}})</mat-hint> -->
             </mat-form-field>

        </div> 

        <div class="form-group">
            <mat-form-field>
                <mat-select placeholder="Year" formControlName="year">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let year of years" [value]="year">{{year}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form-group">
            <label> Engine Power </label>
            <input type=number max=20 class="form-control" formControlName="enginePower" required>
        </div>

        <div class="form-group">
            <label> Asset Price </label>
            <input type=number class="form-control" formControlName="assetPrice" required>
        </div>

        <div class="form-group">
            <label> Advance payment percentage </label>
            <label></label>
            <mat-slider formControlName="advancePaymentPercentage" min="10" max="50" step="0.1" value="10" tickInterval="0.1" thumbLabel (input)="pitch($event)"></mat-slider>
        </div>

        <div class="form-group">
            <label> Advance payment amount  {{ advancePaymentPercentage / 100 * assetPrice }}</label>
            <input type=number class="form-control" formControlName="advancePaymentAmount" required>

        </div>

        <div class="form-group">
            <label>Lease Period</label>
            <label>
                
            </label>
            <mat-slider formControlName="leasePeriod" min="6" max="84" step="6" value="6" tickInterval="1" thumbLabel (input)="pitch($event)"></mat-slider>
        </div>


        <div class="form-group">
            <label>Margin (%)</label>
            <label>
                
            </label>
            <mat-slider formControlName="margin" min="3.2" max="99" step="0.1" value="3.2" tickInterval="0.1" thumbLabel (input)="pitch($event)"></mat-slider>
        </div>

        <div class="form-group">
            <label> Contract fee percentage %</label>
            <label>  </label>
            <input type=number class="form-control" formControlName="contractFeePercentage" required>
            <label> Contract Fee </label>
            <input label="value" type=number class="form-control" formControlName="contractFee" required>
        </div>

        <div class="form-group">
            <mat-radio-group formControlName="paymentDate">
                <label>Payment day</label>
                <label></label>
                <mat-radio-button value="15">15</mat-radio-button>
                <mat-radio-button value="30">30</mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary" (click)="onSubmit()" routerLink='../form'>Submit</button>
        </div>