<div align="center" class="container">

    <form [formGroup]="carLeasingForm" role="form" novalidate #editForm="ngForm">

        <div class="form-group">
            <mat-form-field>
                <mat-select placeholder="Asset Type" formControlName="assetType" required>
                    <mat-option *ngFor="let assetType of assetTypes" [value]="assetType.value">
                        {{ assetType.viewValue }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="!assetType">Asset must be selected!</mat-error>


            </mat-form-field>
        </div>

        <div class="form-group ">
            <mat-form-field>
                <mat-select placeholder="Brand" formControlName="brand" required>
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let brand of brands" [value]="brand">{{brand}}</mat-option>
                </mat-select>
                <mat-error *ngIf="!brand">Brand must be selected!</mat-error>
            </mat-form-field>
        </div>

        <div class="form-group ">
            <mat-form-field>
                <mat-select placeholder="Model" formControlName="model" required>
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let p of models |productFilter:carLeasingForm.get('brand').value" [value]="p.name">{{p.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="!model">Model Must be selected</mat-error>
                <span class="help-block"></span>
                <mat-hint>(total models:{{(models|productFilter:carLeasingForm.get('brand').value).length}})</mat-hint>
            </mat-form-field>

        </div>

        <div class="form-group">
            <mat-form-field>
                <mat-select placeholder="Year" formControlName="year" required>
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let year of years" [value]="year">{{year}}</mat-option>
                </mat-select>
                <mat-error *ngIf="year.invalid && year.touched && !(year.value!=None)" class="form-text text-danger">Year must be selected</mat-error>
              <span class="help-block"></span>
                <mat-hint>
                </mat-hint>
            </mat-form-field>
        </div>

        <div class="form-group ">
            <mat-form-field>
                <input matInput placeholder="Engine Power" type=number formControlName="enginePower" required maxlength="3">
                <mat-error *ngIf="enginePower.invalid && enginePower.touched && enginePower.value < 50" class="form-text text-danger">Engine power is too low</mat-error>
                <mat-error *ngIf="enginePower.invalid && enginePower.touched && enginePower.value > 1500" class="form-text text-danger">Engine power is too high</mat-error>
                <span class="help-block"></span>
                <mat-hint>(required engine power:
                  min 50
                  max 1500)</mat-hint>

            </mat-form-field>
        </div>


        <div class="form-group">
            <mat-form-field>

                <input matInput placeholder="Asset Price" type=number formControlName="assetPrice" [maxlength]="10" required >
                <mat-error *ngIf="assetPrice.invalid && assetPrice.touched && assetPrice.value < 5000" class="form-text text-danger">Asset price is too low</mat-error>
                <mat-hint>Asset price min is 5000</mat-hint>

            </mat-form-field>

        </div>

        <div class="form-group ">
            <label> Advance payment percentage </label>
            <label></label>
            <mat-slider formControlName="advancePaymentPercentage" min="10" max="50" step="0.1" value="10" tickInterval="0.1" thumbLabel (input)="pitch($event)" required></mat-slider>
            {{advancePaymentPercentage | number:0}} %
        </div>

        <div class="form-group">
            <label> Advance payment amount  {{ advancePaymentAmount.toFixed(2) }}</label>
        </div>

        <div class="form-group ">
            <label>Lease Period</label>
            <label></label>
            <mat-slider formControlName="leasePeriod" min="6" max="84" step="6" value="6" tickInterval="1" thumbLabel (input)="pitch($event)" required></mat-slider>
            {{leasePeriod}}
        </div>


        <div class="form-group">
            <label>Margin</label>
            <label></label>
            <mat-slider formControlName="margin" min="3.2" max="99" step="0.1" value="3.2" tickInterval="0.1" thumbLabel (input)="pitch($event)"> required</mat-slider>
            {{margin.toFixed(1)}} %

        </div>

        <div class="form-group">
            <label> Contract fee percentage</label>
            <label>  </label>
            <mat-slider formControlName="contractFeePercentage" min="1" max="99" step="0.1" value="1" tickInterval="0.1" thumbLabel (input)="pitch($event)"> required</mat-slider>
            {{contractFeePercentage.toFixed(1)}} %
        </div>

        <div>
            <label> Contract Fee  {{ contractFee.toFixed(2) }}</label>
            
        </div>

        <div class="form-group ">
            <mat-radio-group formControlName="paymentDate" required>
                <label>Payment day</label>
                <label></label>
                <mat-radio-button value="15 ">15</mat-radio-button>
                <mat-radio-button value="30 ">30</mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary" [disabled]="!carLeasingForm.valid" (click)="onSubmit()" routerLink='../form'>Submit</button>
        </div>
