<div align="center" class="divWidth">
  <mat-form-field>
    <input placeholder="ID code" formControlName="IDCode" required>
    <mat-error *ngIf="!IDCode">Valid ID code is required</mat-error>
  </mat-form-field>
</div>

<div align="center" class="divWidth" *ngIf="!(!IDCode)">
  <table class="fullWidth" cellspacing="0" >
    <tr>
      <div>
        <label>Customer type: {{leaseData.leaseType}}</label></div>
      <div>
        <label>Asset Type: {{leaseData.assetType}}</label></div>
      <div>
        <label>Make: {{leaseData.carBrand}}</label></div>
      <div>

        <label>Model: {{leaseData.carModel}}</label>
      </div>
      <div><label>Year: {{leaseData.years}}</label>
      </div>
      <div><label>Engine power (kW): {{leaseData.enginePower}}</label>
      </div>
      <div><label>Asset price: {{leaseData.assetPrice}}</label>
      </div>
      <div><label>Advance payment percentage: {{leaseData.advancePaymentPercentage}}</label>
      </div>
      <div><label>Advance payment amount: {{leaseData.advancePaymentAmount}}</label>
      </div>
      <div><label>Lease period: {{leaseData.leasePeriod}}</label>
      </div>
      <div><label>Margin: {{leaseData.margin}}</label>
      </div>
      <div><label>Contract fee: {{leaseData.contractFee}}</label>
      </div>
      <div><label>Payment date: {{leaseData.paymentDate}}</label>
      </div>
      <div><label>First Name: {{userData.firstName}}</label>
      </div>
      <div><label>Last Name: {{userData.lastName}}</label>
      </div>
      <div><label>Personal code: {{userData.personalCode}}</label>
      </div>
      <div><label>Phone number: {{userData.phoneNumber}}</label>
      </div>
      <div><label>Email: {{userData.email}}</label>
      </div>
      <div><label>Address: {{userData.address}}</label>
      </div>
    </tr>
  </table>
</div>
