<div id="c1" align="center" class="container">
  <form [formGroup]="carLeasingForm" role="form" novalidate #editForm="ngForm" class="formwidth">
    <table class="fullwidth" cellspacing="0">
      <tr>
<div align="center" class="divWidth">
  <table class="fullWidth" cellspacing="0">
    <tr>
  <div>
    <label>Customer type:  {{1+1}}</label></div>
  <div>
    <label>Asset Type:  {{1+1}}</label></div>
  <div>
    <label>Make:  {{1+1}}</label> </div>
  <div>
    <label>Model:  {{1+1}}</label>
  </div>
  <div> <label>Year:  {{1+1}}</label>
  </div>
  <div><label>Engine power (kW):  {{1+1}}</label>
  </div>
  <div><label>Asset price:  {{1+1}}</label>
  </div>
  <div> <label>Advance payment percentage:  {{1+1}}</label>
  </div>
  <div> <label>Advance payment amount:  {{1+1}}</label>
  </div>
  <div><label>Lease period:  {{1+1}}</label>
  </div>
  <div><label>Margin:  {{1+1}}</label>
  </div>
  <div><label>Contract fee:  {{1+1}}</label>
  </div>
  <div><label>Payment date:  {{1+1}}</label>
  </div>
  <div><label>First Name:  {{1+1}}</label>
  </div>
  <div><label>Last Name:  {{1+1}}</label>
  </div>
  <div><label>Personal code:  {{1+1}}</label>
  </div>
  <div><label>Phone number:  {{1+1}}</label>
  </div>
  <div><label>Email:  {{1+1}}</label>
  </div>
  <div><label>Address:  {{1+1}}</label>
  </div>
    </tr>
  </table>
  </div>
