
<mat-horizontal-stepper #stepper="matHorizontalStepper" class="stepper" [selectedIndex]="currentStep">
    <mat-step [completed]='false'>

      <ng-template matStepLabel>Car leasing form</ng-template>
        <app-private-leasing-data-form></app-private-leasing-data-form>

    </mat-step>
    <mat-step [completed]='false'>
      <ng-template matStepLabel>Contact form</ng-template>
        <app-private-user-data-form *ngIf='customerType==="Private"'></app-private-user-data-form>
        <app-corporate-user-data-form *ngIf='customerType==="Corporate"'></app-corporate-user-data-form>
    </mat-step>
    <mat-step [completed]='false'>
      <ng-template matStepLabel >Preview</ng-template>
        <app-form-preview></app-form-preview>
    </mat-step>
    <mat-step [completed]='false'>
      <ng-template matStepLabel >Finish</ng-template>
        <app-end-screen></app-end-screen>
    </mat-step>
</mat-horizontal-stepper>
