<div class="container">
    <form [formGroup]="corporateUserForm">
        <div class="sub-entry">
        <mat-form-field [floatLabel]="corporateUserForm.value.hideRequired">
            <input matInput maxlength="20" placeholder="Company name" formControlName="companyName" required>
            <mat-error *ngIf="!companyName ">Valid company name is required</mat-error>
        </mat-form-field>

        <mat-form-field [floatLabel]="corporateUserForm.value.hideRequired">
            <input matInput maxlength="9" placeholder="Company code" formControlName="companyCode" required>
            <mat-error *ngIf="!companyCode ">Valid company code is required</mat-error>
        </mat-form-field>

        <mat-form-field [floatLabel]="corporateUserForm.value.hideRequired">
            <input matInput maxlength="12" placeholder="Phone number" formControlName="phoneNumber" required>
            <mat-error *ngIf="!phoneNumber">Valid phone number is required</mat-error>
        </mat-form-field>
        </div>
        <div class="sub-entry">
        <mat-form-field [floatLabel]="corporateUserForm.value.hideRequired">
            <input matInput maxlength="64" x placeholder="Email" formControlName="email" required>
            <mat-error *ngIf="!email">Valid email is required</mat-error>
        </mat-form-field>

        <mat-form-field [floatLabel]="corporateUserForm.value.hideRequired">
            <input matInput maxlength="64" placeholder="Address" formControlName="address" required>
            <mat-error *ngIf="!address">Valid address is required</mat-error>
        </mat-form-field>
        </div>
        
    </form>
    <div align="center">
            <button mat-raised-button color="primary" matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" matStepperNext (click)="send()" [disabled]="!corporateUserForm.valid">Next</button>
    </div>
</div>