.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}


.formwidth {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border: 1px solid lightgrey;
}

.fullwidth {
  width: 100%;
}
.formwidthred {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border: 1px solid red;
}
.content-wrapper label{
  font-weight: 600;
}
.content-wrapper span{
  font-weight: 300;
  float: right;
}
.content-wrapper{
  display: inline-grid;
  width: 350px;
  text-align: left;
}
.button-wrapper {
  margin-top: 30px;
}