<body>
  <div *ngIf="errorMessages">
  <form class="formwidthred">
    <table class="fullwidth" cellspacing="0">
      {{ errorMessages }}
    </table>
  </form>
</div>

<div class="container">
  <form>
      <div class="content-wrapper" *ngIf="userReady && sendReady">
        <label>Customer:
          <span>{{userData.firstName}} {{userData.lastName}} {{userData.personalCode}} </span>
        </label> 
        <label>Number:
          <span>{{userData.phoneNumber}} </span>
        </label>
        <label>Email:
          <span> {{userData.email}}</span>
        </label>
        <label>Address:
          <span>{{userData.address}}</span>
        </label>
        <label>{{leaseData.assetType}}:
          <span>{{leaseData.carBrand}} {{leaseData.carModel}}</span>
        </label>
        <label>Year: 
          <span>{{leaseData.years}}</span>
        </label>
        <label>Engine power: 
          <span>{{leaseData.enginePower}}kW</span>   
        </label>
        <label>Price:
          <span> {{leaseData.assetPrice}}</span>
        </label>
        <label>Advance payment percentage: 
          <span>{{leaseData.advancePaymentPercentage}}%</span>
        </label>
        <label>Advance payment amount:
          <span> {{leaseData.advancePaymentAmount}}</span>
        </label> 
        <label>Lease period: 
          <span>{{leaseData.leasePeriod}} months</span>
        </label>
        <label>Margin: 
          <span>{{leaseData.margin}}</span>
        </label>
        <label>Contract fee: 
          <span>{{leaseData.contractFee}}</span>
        </label>
       <label>Payment date:
         <span> {{leaseData.paymentDate}} days</span>
       </label>
      <div *ngIf="clicked === true">
        <mat-spinner></mat-spinner>
      </div>
    </div>
      <div class="button-wrapper">
        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" (click)="sendToDb()">Submit</button>
      </div>

</form>
</div>
</body>
