
.button-transparent {
    background: transparent;
    color: #F2F2F2;
    border: 2px solid  #848482;
    position: absolute;
    left: 30%;
    top: 70%;
}
.button {
    background: transparent;
    color: #F2F2F2;
    border: 2px solid  #848482;
    position: absolute;
    left: 30%;
    top: 70%;
}
        
.button-transparent:hover {
    color: white;
    background-color: rgba(255,255,255,0.2);
}
#corporatebtn{
    left: 50%;
}
.title{

    position: absolute;
    font-size: 9vw;
    font-family: 'Roboto';
    line-height: 100%;
    letter-spacing: 0;
    color: #fff;
}  
.color-change {
    border-radius: 5px;
    font-size: 20px;
    padding: 14px 80px;
    cursor: pointer;
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Roboto';
    font-weight: 100;
    border: 1px solid #fff;
    box-shadow: 2px 2px 5px rgba(100, 76, 39, 0.733);
    /* transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s; */
}
  
.color-change:hover {
    color: #fff;
    border: 1px solid #dfd6c3bb;
    box-shadow: 2px 2px 20px #fff;
}
  
button.color-change {
    /* -webkit-appearance: none;
    -moz-appearance: none; */
}
