<!-- 
<div class="wrapper">
    <nav>
        <div class="logo">CAR LEASING</div>
        <ul>
            <li><a (click)="onCorporate()" routerLink="../stepper">Corporate</a></li>
            <li><a (click)="onPrivate()" routerLink="../stepper">Private</a></li>
            <li><a routerLink="../search">Search</a></li>
     
        </ul>
    </nav>
</div>
<img class="background-image" src="../../assets/images/home.jpg" align="center"> -->




<html>

<head>
</head>

<body>
    <nav>
        <div class="brand">
            <h2>Car Leasing</h2>
        </div>
        <ul>
            <li><a href="#" (click)="onCorporate()" routerLink="../stepper">Corporate</a></li>
            <li><a href="#" (click)="onPrivate()" routerLink="../stepper">Private</a></li>
            <li><a routerLink="../search">Search</a></li>
        </ul>
    </nav>
    <section class="sec1"></section>
</body>

</html>