/* .formwidth {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border: 1px solid lightgrey;
}

.fullwidth {
    width: 100%;
} */

/* .example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
} */

/* .mat-table {
    overflow: auto;
    max-height: 500px;
} */
.sub-entry {
    width: 49.5%;
    float: left;
    column-gap:30px;
    padding-bottom: 20px;
}

.container{
    text-align:center;
    width: 50%;
    border: 1px solid #e8ecef;
    padding: 2%;
    border-radius: 15px;
    margin-left: 20%;
}
.container .sub-entry:first-child{
    border-right: 1px solid #e8ecef;
}

.mat-form-field {
    width: 70% !important;
}
.mat-radio-outer-circle {
    border-color: #3f51b5!important;
}
md-select.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #3f51b5!important;
}

@media only screen and (min-width: 1100px){
    #calculations-popup-private{
        padding: 10px;
        position: fixed;
        z-index: 999;
        right: 50px;
        border: 1px solid #e8ecef;
        border-radius: 15px;
        top: 60px;
    }
  #calculations-popup-corporate{
    padding: 10px;
    position: fixed;
    z-index: 999;
    right: 50px;
    border: 1px solid #e8ecef;
    border-radius: 15px;
    top: 60px;
  }

}
/* .buttons-container{
    padding-top: 20px;
    float: left;
} */
